.page {
  font-family: "Space Grotesk", sans-serif;
  scroll-behavior: smooth;


  &__body {
    &--with-menu {
      overflow: hidden;
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(100%);
    transition-duration: 300ms;
    overflow-y: scroll;

    &:target {
      transform: translateX(0);
    }
  }
  &__section {
    margin-bottom: 120px;
    &-title {
      max-width: 496px;
      margin-bottom: 64px;
      font-weight: 700;
      color: $mainDarkColor;

      font-size: 32px;
      text-align: left;

      @include onTablet {
        font-size: 40px;
      }

      @include onDesctop {
        max-width: 585px;
        font-size: 48px;
      }
    }
  }
}

.container {
  max-width: 1020px;
  margin: 0 auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #333;
  -webkit-text-fill-color: #333;
  -webkit-box-shadow: 0 0 0px 1000px #f8f8fa inset;
  transition: background-color 5000s ease-in-out 0s;
}